$bg-color: #111;
$txt-color: #CCC;
$link-color: #facf70;
$select-border: #777;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $bg-color;
  color: $txt-color;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.header {
  background-color: $link-color;
  color: $bg-color;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
  #openSidenav {
    font-size: 1.6rem;
    background-color: inherit;
    border-radius: 0px;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    padding: .5rem;
    margin: 0 0 0 .5rem;
    text-align: center;
    height: 100%;
    &:hover {
      background-color: $bg-color;
      color: $link-color
    }
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $bg-color;
  overflow-x: hidden;
  padding-top: 3rem;
  transition: 0.15s;
  a {
    padding: .4rem .4rem .4rem 2rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: $txt-color;
    display: block;
    transition: 0.1s;
    &:hover {
      color: $link-color;
    }
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    &:hover {
      color: $link-color;
    }
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.container {
  position: absolute;
  height: 100vh;
  display: grid;
  grid-template-rows: 
    2.5rem
    auto
    2rem
    2rem;
  grid-template-columns: auto;
  justify-items: center;
  grid-template-areas:
    "header"
    "main"
    "options"
    "footer";
  transition: .5s;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  grid-area: header
}

.options {
  grid-area: options;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#main {
  grid-area: main;
  padding-top: 2rem;
}

.credits {
  width: 98%;
  position: absolute;
  grid-area: footer;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  bottom: 1rem;
}

.button-2 {
  background-color: $link-color;
  border-radius: 1px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  list-style: none;
  padding: .5rem;
  margin: 0;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-self: end;
  &:active {
    color: $link-color;
    background-color: $bg-color;
  }
}

::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}