$bg-color: #111;
$txt-color: #DDD;
$link-color: #facf70;
$transition-time: 200ms;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $bg-color;
  color: $txt-color;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.header {
  background-color: $link-color;
  color: $bg-color;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  button {
    font-size: 1.6rem;
    background-color: inherit;
    border-radius: 0px;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    padding: .5rem;
    margin: 0 .5rem;
    text-align: center;
    height: 100%;
    &:hover {
      background-color: $bg-color;
      color: $link-color
    }
  }
}

.side-panel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: $bg-color;
  overflow-x: hidden;
  transition: $transition-time;
  transition-timing-function: ease;
  a {
    padding: .4rem .4rem .4rem 2rem;
  }
  a {
    text-decoration: none;
    font-size: 1.25rem;
    color: $txt-color;
    display: block;
    transition: $transition-time;
    &:hover {
      color: $link-color;
      cursor: pointer;
    }
  }
  .lower-fade {
    height: 4rem;
    background-color: $bg-color;
    background: linear-gradient(0deg, rgba($bg-color, 1) 0%, rgba($bg-color,0) 100%);
    position: sticky;
    bottom: 0;
  }
}

.close-bar {
  background-color: $bg-color;
  background: linear-gradient(180deg, rgba($bg-color, 1) 0%, rgba($bg-color, 1) 15%, rgba($bg-color,0) 100%);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  .close-button {
    color: $txt-color;
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    list-style: none;
    margin: 0;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    justify-self: end;
    padding-right: 1rem;
    font-size: 2.5rem;
    &:hover {
      color: $link-color;
    }
  }
}

.side-panel-left {
  left: -2px;
  border-right: 2px solid $link-color;
}

.side-panel-right {
  right: -2px;
  border-left: 2px solid $link-color;
}

#about {
  position: fixed;
  bottom: 0;
  padding: 1.5rem 2rem;
  font-size: 1.25rem;
  color: $txt-color;
}

.container {
  position: absolute;
  height: 100vh;
  display: grid;
  grid-template-rows: 
    2.5rem
    auto
    2rem;
  grid-template-columns: auto;
  justify-items: center;
  grid-template-areas:
    "header"
    "main"
    "options";
  transition: $transition-time;
  transition-timing-function: ease;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.options {
  display: none;
  flex-direction: row;
  justify-content: space-between;
}

#reset {
  margin-left: auto;
}

#main {
  grid-area: main;
  padding-top: 2rem;
}

#about-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 60%
}

#info-modal {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  left: 70%;
  width: fit-content;
  max-width: 40rem;
  height: fit-content;
  overflow-x: hidden;
  border: $link-color solid 2px;
  background-color: $bg-color;
  .close-bar {
    background: none;
    background-color: $link-color;
    height: 1.5rem;
    cursor: move;
  }
  .close-button {
    font-size: 2rem;
    top: -.5rem;
    position: relative;
    padding-right: .5rem;
    color: $bg-color;
  }
}

#info-modal-content {
  color: $txt-color;
  flex-direction: column;
  padding: 1.5rem 2rem;
  p {
    padding: .5rem 0;
  }
}

.button-primary {
  background-color: $link-color;
  border-radius: 1px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  list-style: none;
  padding: .5rem;
  margin: 0;
  text-align: center;
  transition: $transition-time;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-self: end;
  &:hover {
    color: $link-color;
    background-color: $bg-color;
    border: $link-color solid 1px;
  }
}

.button-secondary {
  background-color: $bg-color;
  color: $link-color;
  border-radius: 1px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  list-style: none;
  padding: .5rem;
  margin: 0;
  text-align: center;
  transition: $transition-time;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-self: end;
  &:hover {
    color: $bg-color;
    background-color: $link-color;
  }
}

::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}