$bg-color: #111;
$txt-color: #DDD;
$link-color: #facf70;
$select-border: #777;
$transition-time: 150ms;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: $bg-color;
  color: $txt-color;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.header {
  background-color: $link-color;
  color: $bg-color;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
  #open-side-panel {
    font-size: 1.6rem;
    background-color: inherit;
    border-radius: 0px;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    padding: .5rem;
    margin: 0 0 0 .5rem;
    text-align: center;
    height: 100%;
    &:hover {
      background-color: $bg-color;
      color: $link-color
    }
  }
}

.side-panel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -2px;
  background-color: $bg-color;
  overflow-x: hidden;
  transition: $transition-time;
  transition-timing-function: ease;
  border-right: 2px solid $link-color;
  .close-bar {
    background-color: $bg-color;
    background: linear-gradient(180deg, rgba($bg-color, 1) 0%, rgba($bg-color, 1) 15%, rgba($bg-color,0) 100%);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    .close-button {
      color: $txt-color;
      background-color: inherit;
      border: none;
      cursor: pointer;
      display: inline-block;
      font-family: inherit;
      font-size: inherit;
      list-style: none;
      margin: 0;
      text-align: center;
      vertical-align: baseline;
      white-space: nowrap;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      justify-self: end;
      padding-right: 1rem;
      font-size: 2.5rem;
      &:hover {
        color: $link-color;
      }
    }
  }
  a {
    padding: .4rem .4rem .4rem 2rem;
    text-decoration: none;
    font-size: 1.25rem;
    color: $txt-color;
    display: block;
    transition: $transition-time;
    &:hover {
      color: $link-color;
    }
  }
  .lower-fade {
    height: 4rem;
    background-color: $bg-color;
    background: linear-gradient(0deg, rgba($bg-color, 1) 0%, rgba($bg-color,0) 100%);
    position: sticky;
    bottom: 0;
  }
}

.container {
  position: absolute;
  height: 100vh;
  display: grid;
  grid-template-rows: 
    2.5rem
    auto
    2rem
    2rem;
  grid-template-columns: auto;
  justify-items: center;
  grid-template-areas:
    "header"
    "main"
    "options"
    "footer";
  transition: $transition-time;
  transition-timing-function: ease;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.options {
  grid-area: options;
  display: none;
  flex-direction: row;
  justify-content: flex-end;
}

#main {
  grid-area: main;
  padding-top: 2rem;
}

.credits {
  width: 100%;
  position: absolute;
  grid-area: footer;
  text-align: justify;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: .7rem;
}

.button-2 {
  background-color: $link-color;
  border-radius: 1px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  list-style: none;
  padding: .5rem;
  margin: 0;
  text-align: center;
  transition: $transition-time;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-self: end;
  &:active {
    color: $link-color;
    background-color: $bg-color;
  }
}

::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}